.customer-main {
    background-image: url("../image/assets/dairiseki.jpg");
    background-repeat: repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 25px;
    width: 900px;
}

.title {
    font-size: 20px;
    font-style: normal;
    margin: 0;
}

.subtitle {
    font-size: 16px;
    font-style: normal;
    margin: 0;
    color: #4A5565;
}

.customer-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customer {
    border-radius: 10px;
    background-color: #FFF;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    display: flex;
}

.customer-icon {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 41943000px;
    background: #DBEAFE;
    float: left;
    margin-right: 16px;
    margin: auto 0 auto 0;
}

.customer-table td {
    padding: 0 100px 0 0;
}

.customer-head {
    color: black;
}

.customer-info {
    color: #4A5565;
}

.customer-content {
    display: flex;
    float: right;
    margin: auto 0 auto auto;
}

.customer-reservation-btn {
    background-color: #E0E7FF;
    color: #3730A3;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.customer-coupon-btn {
    background-color: #B9F8CF;
    color: #008236;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.customer-details-main {
    background-image: url("../image/assets/dairiseki.jpg");
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 25px;
    width: 900px;
}

.customer-top-margin {
    margin-top: 100px;
    display: flex;
}

.customer-details-table {
    width: 800px;
    border-spacing: 0px;
    color: #364153;
    border-radius: 10px;
    border-collapse: collapse;
}

.customer-details-table td {
    padding: 10px 50px 10px 10px;
}

.customer-stetas {
    border: 1.25px solid #FEE685;
    background: #FFFBEB;
    color: #4A5565;
    margin-top: 20px;
    margin-bottom: 20px;
}

.customer-details-btns {
    display: flex;
    float: right;
    margin-top: 20px;
    flex-direction: row;
}

.customer-edit-btn {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 4px 10px 5px 10px;
    cursor: pointer;
    width: 75px;
    height: 30px;
    border: none;
}

.edit-icon {
    width: 20px;
    height: 20px;
    margin: auto auto auto 0px;
}

.customer-delete-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    padding: 0px 5px 5px 5px;
    text-align: center;
    margin-left: 10px;
}

.trash-icon {
    width: 25px;
    height: 25px;
    margin: auto;
    padding: 2px;
}

.customer-reservation-history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-details-reservation-count {
    display: flex;
    flex-direction: row;
}

.customer-details-reservation-count-table {
    width: 700px;
    border-spacing: 0px;
    color: #364153;
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}

.customer-add-reservation-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15.977px;
    border-radius: 8px;
    border: none;
    background: #030213;
    color: white;
    font-size: 14px;
    font-style: normal;
    width: 110px;
    height: 40px;
    float: right;
    cursor: pointer;
    padding: 5px 5px 10px 5px;
    margin-right: 0;
    margin-left: auto;
}

.customer-reservation-info {
    background-color: whitesmoke;
    border: 1.25px solid #D1D5DC;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 0;
    height: 65px;
}

.customer-details-reservation-table {
    border-spacing: 0px;
    color: #364153;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 15px auto auto 30px;
}

.reservation-days {
    padding-left: 0;
    padding-right: 0;
}

.reservation-day {
    width: 40px;
}

.reservation-starttime {
    padding-left: 100px;
}

.reservation-timebr {
    width: 20px;
    text-align: center;
}

.reservation-width {
    width: 100px;
    text-align: center;
}

.reservation-endtime {
    width: 100px;
}

.reservation-delete-btn {
    padding-right: 6px;
}
.coupon-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.coupon-active {
    display: flex;
    border-radius: 10px;
    border: 1.25px solid #7BF1A8;
    background: rgba(123, 241, 168, 0.2);
    height: 100px; 
}
.coupon-passive {
    display: flex;
    border-radius: 10px;
    border: 1.25px solid black;
    background: rgba(60, 60, 80, 0.2);
    height: 100px; 
}

.coupon-img {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 20px;
    justify-content: center;
    float: left;
    margin-right: 16px;
    margin: auto 0 auto 0;
}
.coupon-value{
    width: 200px;
}
.expiration-date{
    text-align: right;
    width: 100px;
}
.coupon-start{
    text-align: right;
    width: 100px;
}
.coupon-br{
    text-align: center;
    width: 20px;
}
.coupon-end{
    text-align: left;
    width: 100px;
}
.coupon-content{
    display: flex;
    margin: auto 100px auto auto;
}
.coupon-btn{
    display: flex;
    background-color: white;
    border: 1.25px solid #D1D5DC;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.coupon-frame{
    margin-bottom: 200px;
}