#controls-area {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 200px;
    gap: 10px;
    padding: 10px 0;
}

#controls-area label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 1;
    margin: 0;
}

.date-nav-btn {
    background-color: #fff;
    border: 2px solid #999;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

#date-nav-input {
    width: 268px;
    text-align: center;
    font-size: 20px;
}

#date-nav-today {
    width: 70px;
}

.action-buttons {
    display: flex;
    gap: 100px;
    margin-left: auto;
    margin-right: 200px;
}

.action-btn {
    background-image: url("../image/assets/dairiseki.jpg");
    border: none;
    font-size: 32px;
    cursor: pointer;
    border-radius: 4px;
    width: 300px;
    height: 50px;
}

.action-btn:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

.schedule-table {
    margin: 0 auto;
    border-collapse: collapse;
    background-image: url("../image/assets/dairiseki.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.schedule-table td,
th {
    border: solid 2px rgba(00,00,00,0.1);
}
.reservationExist{
	border: #000;
}

.schedule-table tr {
    height: 40px;
}

.time-header {
    font-size: 24px;
    text-align: center;
    color: #000;
}

.time-header th {
    width: 150px;
}

.time-cell {
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.reservation-cell {
    width: 150px;
    position: relative;
}

.reservation-info {
    font-size: 14px;
}

.trash {
    position: absolute;
    bottom: 0px;
    right: 5px;
    cursor: pointer;
    margin: 0;
}

.form-div {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.form-inner-div {
    margin-top: 20px;
    width: 100%;
}

.form-inner-div label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

.form-inner-div p {
    margin:0;
}

.input {
    background-image: url("../image/assets/dairiseki.jpg");
    background-repeat: repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    width: 600px;
    height: 36px;
    padding: 0px 12px 0px 12px;
}
#reservation_seat{
    width: 624px ;
}
#form-submit{
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}
