@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html{
    overflow:scroll;
}
body {
    background-image: url("../image/assets/concrete.png");
    background-repeat: repeat;
    background-size: 1920px;
    font-family: "Noto Sans JP", sans-serif;
    
}


.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav button {
    background: url("../image/assets/wood.jpg") lightgray 0% 0% / 100px 100px repeat;
    width: 300px;
    height: 120px;
    color: #000;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 10px solid #0A0A0A;
}